*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border:0px;
    text-decoration: none;
}
a{
    color: black;
}
.conter1{
    background: white;
    width: 100%;
}
.conter1 .headd{
    padding: 15px 35px;
}
.conter1 .car span{
    font-weight: bold;
}
.conter1 .car{
    font-size: 30px;
}
.conter1 .car>a{
    color: darkgray;
    margin-top: 20px;
    font-size: 14px;
    margin-left: 30px;
}
.conter1 .buy>li{
    float: left;
    margin: 0px 50px;
}
.conter1 .buy>li>a{
    font-size: 16px;
}
.conter1 .new>ul{
    float: right;
    margin-right: 30px;
}
.conter1 .new>ul>li{
    float: left;
    margin: 0px 10px;
}
.conter1 .new>ul>li>a>img{
    width: 30px;
    height: 30px;
}
.conter1 .wefot{
    padding: 80px 50px 30px;
    background: url(../images/1.png) no-repeat;
    height: 645px;
    background-size: 1000px;
    background-position: 250px 150px;
}
.conter1 .wefot .nect{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 0px;
}
.conter1 .wefot .drema{
    border-bottom: 1px solid darkgray;
    padding: 50px 10px 10px;
    width: 40%;
    color: darkgray;
}
.conter1 .wefot .drema span{
    float: right;
    font-size: 18px;
    font-weight: bold;
}
.conter1 .topia{
    background-color: #383838;
    border: 1px solid rebeccapurple;
    color: white;
    padding: 30px;
}
.conter1 .topia::after{
    content: "";
    display: block;
    clear: both;
}
.conter1 .topia ul{
    float: left;
    padding: 0px 60px;
}
.conter1 .topia ul>li>a{
    color: white;
    font-size: 14px;
    line-height: 25px;
}
.conter1 .topia .crtto{
    font-size: 36px;
    line-height: 130px;
    padding-left: 80px;
}
.conter1 .topia .lvik>div>a>img{
    width: 30px;
    height: 30px;
    margin: 0px 10px;
}
.conter1 .topia .lvik{
    margin-top: 110px;
}
.conter1 .topia .dring{
    float: right;
}
.conter1 .xiala input{
    width: 20%;
    margin: 15px 10px;
    float: left;
}
.conter1 .audi2{
    font-size: 18px;
    font-weight: bold;
    color: darkgray;
    margin-left: 23px;
}
.conter1 .audi2 a{
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.conter1 .audi2 span{
    border-bottom:1px solid orange;
    padding: 5px 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    color: black;
}
.conter1 .sortss span{
    float: right;
    font-size: 12px;
    color: darkgray;
    margin-top: 25px;
}
.conter1 .haoche img{
    width: 100%;
    border-radius: 20px;
}
.conter1 .haoche{
    margin-top: 20px;
    color: black;
    margin-bottom: 30px;
    
}
.conter1 .haoche:hover{
    text-decoration: none;
}
@media screen and (max-width:767px){
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        padding: 0px 15px;
    }
}


